body {
   width: 100%;
   height: 100%;
   background-color: #000000;
   margin: 0; /* Agregado para eliminar el margen predeterminado del body */
   color: white;
   text-shadow: 1px 0px 0px  #6d00c7,
               0px 1px 0px  #6d00c7,
               -1px 0px 0px  #6d00c7,
               0px -1px 0px  #6d00c7;
}

/*INDEX*/
.QUIZ {
   text-align: center;
   margin-top: 80px; /* Ajustado el margen superior del contenido */
   font-size: 135px; /* Ajustado el tamaño de la fuente del título QUIZ */
}

.QUIZ a {
   text-decoration: none;
   color: white;
   text-shadow: 10px 0px 0px red,
               0px 1px 0px red,
               -1px 0px 0px red,
               0px -1px 0px red;
}

/*BARRA DE NAVEGACION*/
nav button {
   font-size: 20px; /* Tamaño de fuente */
   padding: 10px 80px; /* Relleno del botón */
}

nav {
   display:grid;
   align-items: center;
   background-color: #6d00c7;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   overflow: hidden;
}

.barranav {
   display: flex;
   flex-direction: wrap;
   /* Ajustado el tamaño de la fuente de los botones de la barra de navegación */
}

@keyframes colorRandom {
   0% { color: rgba(255, 0, 0, 1); }
   25% { color: rgba(0, 255, 0, 1); }
   50% { color: rgba(0, 0, 255, 1); }
   100% { color: rgba(255, 0, 0, 1); }
   50% { color: rgba(0, 255, 0, 1); }
   25% { color: rgba(0, 0, 255, 1); }
   0% { color: rgba(255, 0, 0, 1); }
}

nav .barranav div:hover button {
   cursor: pointer;
   animation: colorRandom 5s infinite;
}

nav .barranav div:active button {
   cursor: pointer;
   box-shadow: 0px 0px;
   margin: 5px;  
}

nav .barranav button {
   font-size: 18px;
   text-decoration: none;
   border-bottom-right-radius: 50px;
   color: rgb(255, 0, 0);
   background-color: rgb(223, 218, 218);
   text-shadow: 1px 0px 0px black,
               0px 1px 0px black,
               -1px 0px 0px black,
               0px -1px 0px black;
   box-shadow: 1px 1px 0px rgb(223, 218, 218),
               2px 2px 0px rgb(223, 218, 218),
               3px 3px 0px rgb(223, 218, 218),
               4px 4px 0px rgb(223, 218, 218),
               5px 5px 0px rgb(223, 218, 218);
}

/*RANKING*/
#podio{
   display: flex;
   justify-content: space-between;
}

#podio div{
   text-align: center;
   padding: 50px;
}

#pos1 {
   margin-top: 10%;
   font-size: 15px;
   background-repeat: no-repeat;
   background-image: url("../IMAGES/posicion1.png");
   background-size: 180px 180px;
   width: 85px;
}

#pos2 {
   margin-top: 10%;
   font-size: 15px;
   background-repeat: no-repeat;
   background-image: url("../IMAGES/posicion2.png");
   background-size: 180px 180px;
   width: 85px;
}

#pos3 {
   margin-top: 10%;
   font-size: 15px;
   background-repeat: no-repeat;
   background-image: url("../IMAGES/posicion3.png");
   background-size: 180px 180px;
   width: 85px;
}

#finalistas {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
}

#finalistas div {
   width: 50%;
   border: 3px solid black;
   display: flex;
   justify-content: space-between;
}

#finalistas div p {
   margin-left: 15px;
   margin-right: 15px;
}

#pos4 {
   background-repeat: no-repeat;
   background-color: rgb(255, 141, 255);
}

#pos5 {
   background-repeat: no-repeat;
   background-color: rgb(255, 141, 255);
}

/*QUIZ*/
#correct-answers{
   margin-top: 7%;
}

hr {
   color: whitesmoke;
}

#questions {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#questions div {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#questions div p {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#questions div button {
   display: flex;
   flex-direction: row;
   align-items: center;
}

/*LOGIN*/
.register{
   margin-top: 7%;
}

#images {
   display: flex;
   justify-content: space-between;
}

.formulario {
   width: 100%;
   display: flex;
   justify-content: center ;
}

.formulario form {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 5%;
   margin-bottom: 5%;
   padding: 3%;
   background-color: #6d00c7;
   border-radius: 50%;
}

.formulario form input {
   background-color: rgb(223, 218, 218);
   margin-top: 15%;
   padding: 3%;
}

.formulario form input[type="submit"] {
   cursor: pointer;
   animation: colorRandom 5s infinite;
}